.active {
  color: var(--nav-item-active) !important;
}

.active:hover {
  color: #14b66a !important;
}

#container-home {
  min-height: 90vh !important;
}

.card:hover{
cursor: pointer!important;
transform: translatey(-10px);
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.658) ;
}
#titulo-admin {
 
    margin-bottom: 0 !important; 
    margin-top: -20px; 
}